/* if you are using any Google fonts change the font names below to your fonts. */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;500;600&family=Raleway:wght@100;400;500;600;700&display=swap');

/* CSS rules to specify families
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Cooler Color Palate https://coolors.co/palette/0a0a0a-1f1f1f-220001-47030a-6b020a-7e030e-89010c-00858f-f7f4f3-dad6d6 */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1f1f1f;
  --secondary-color: #dad6da;
  --accent1-color: #00858f;
  --accent2-color: white;
  --accent3-color: #6b020a;
  --accent4-color: #f7f7f7;
  --accent5-color: #47030a;


  /* change the values below to your chosen font(s) */
  --heading-font: 'Raleway', sans-serif;
  --paragraph-font: 'Lato', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0a0a0a;
  /* headlines on a white background */
  --headline-color-on-color: #1f1f1f;
  /* headlines on a colored background */
  --paragraph-color-on-white: #00858f;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #6b020a;
  /* paragraph text on a colored background */
  --paragraph-background-color: #00858f;
  --nav-link-color: #6b020a;
  --nav-background-color: #f7f7f7;
  --nav-hover-link-color: #00858f;
  --nav-hover-background-color: white;
}

/* Setting max-width for all pages*/
#content {
  max-width: 1400px;
  margin: 40px;
  background-color: #f7f4f3;
}

.head-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 40%;

}

.logo {
  grid-column: 1/4;
  grid-row: 1/2;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 45px;
  border: 5px double #00858f;
  display: block;
}

header,
footer {
  background-color: #dad6d6;
  color: #6b020a;
}

header {
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu {
  grid-row: 2/3;
  grid-column: 1/6;
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-align: center;
  color: #6b020a;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.menu a:hover {
  background-color: #00858f;
  color: white;
}

.hr-location {
  grid-column: 3/6;
  grid-row: 1/2;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #00858f;
  text-align: right;
  margin-right: 45px;
  margin-top: 20px;
}

/* page 1  organization*/
#welcome-msg,
#courses-events,
#m-gunsmith {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin-top: 0;
  color: #00858f;
  text-align: center;
  background-color: #f7f4f3;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 1em;
  grid-column-gap: 60px;
  grid-row-gap: 45px;
}

.forms p {
  font-size: 20px;
  margin-bottom: 0%;
  padding: 30px 30px 15px 45px;
  background-color: white;
}

.forms ol {
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 15px 30px 30px 60px;
  background-color: white;
}

.forms {
  border: 6px groove #dad6d6;
}

/* main picture*/
.target-range {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/3;
}

/* faux picture meant to look like a sign*/
.dress-code {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-top: 0;
  padding-bottom: 30px;
  text-align: center;
  background-color: #89010c;
  color: white;
  border-color: #dad6d6;
  border-width: 8px;
  border-style: dashed;
}

.dress-code ul {
  text-align: left;
  padding-left: 80px;
}

.gen-safety ol {
  font-size: 20px;
  background-color: white;
  padding: 15px 30px 30px 60px;
  border: 6px groove #dad6d6;
}

.range-rules ol {
  font-size: 20px;
  padding: 15px 30px 30px 60px;
  background-color: white;
  border: 6px groove #dad6d6;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  color: #6b020a;
  text-align: center;
  background-color: #dad6d6;
}

/* end page 1 index main*/

/* footer begins here */

footer {
  font-size: 20px;
  margin: 0;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #89010c;
}

footer a:hover {
  background-color: #00858f;
  color: white;
  padding: 30px;
}

/* footer ends here */

/*Courses and Events page begins */

.event1 {
  font-size: 18px;
  background-color: white;
  color: #1f1f1f;
  margin: 0px 300px 50px 300px;
  padding: 30px 60px 30px 60px;
  text-align: left;
  border: 6px groove #dad6d6;
}

/*Calendar - needs improvements but a start! */
.cal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 40px;
  padding-bottom: 100px;
}

.calendar {
  box-sizing: border-box;
  margin: 0px 100px;
  padding-bottom: auto;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.month {
  padding: 70px 25px;
  max-width: 95.8%;
  background: #00858f;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #89010c;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

.days {
  padding: 16px 0;
  background: #1f1f1f;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.days li .active {
  padding: 5px;
  background: #00858f;
  color: white;
}

/* end of calendar and events page*/

/* proshop - gunsmith page begins here */

.proshop-grid {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(9 1fr);
}

.gun-repair {
  border: 2.5px groove #1f1f1f;
  width: 99.5%;
  grid-column: 1/10;
  grid-row: 1/8;
}

.fflicense {
  padding: 5px;
  grid-column: 7/9;
  grid-row: 2/3;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-top: 0;
  padding-bottom: 30px;
  text-align: center;
  background-color: #89010c;
  color: white;
  border: 8px groove #dad6d6;
}

.fflicense p {
  line-height: 1.3;
}

.fflicense a:hover {
  background-color: #00858f;
  color: white;
}

.fflicense a:visited {
  color: #dad6d6
}

#m-gunsmith {
  margin-top: 45px;
}

.gun-grid {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(4 1fr);
  margin-top: 15px;
  margin-bottom: 30px;
}

.glock {
  border: 6px groove #dad6d6;
  margin: 30px 30px 0px 60px;
  grid-column: 1/3;
  grid-row: 4/5;

}

.weapons-five {
  border: 6px groove #dad6d6;
  margin: 30px 60px 0px 30px;
  grid-column: 5/7;
  grid-row: 4/5;
}

.schmootzie {
  margin: 30px;
  grid-column: 3/5;
  grid-row: 4/7;
  font-size: 18px;
  line-height: 1.3;
  background-color: white;
  color: #1f1f1f;
  padding: 30px 60px 30px 60px;
  text-align: left;
  border: 6px groove #dad6d6;
}

.schmootzie h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin-top: 0;
  color: #00858f;
  text-align: center;
  background-color: #f7f4f3;
}

.derringer {
  border: 6px groove #dad6d6;
  margin: 30px 60px 0px 30px;
  grid-column: 5/7;
  grid-row: 5/6;
}

.collect {
  border: 6px groove #dad6d6;
  margin: 30px 30px 0px 60px;
  grid-column: 1/3;
  grid-row: 5/6;
}

.pro-hours {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-row: repeat (7 1fr);
}

.pro-hours h2 { 
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 60px 60px 20px 60px;
}

.shop-hours {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  margin: 0px 60px 0px 60px;
  text-align: left;
  line-height: 1.75;
  background-color: #89010c;
  color: white;
  border: 6px groove #dad6d6;
  grid-column: 1/2;
  grid-row: 2/4;
}

.shop-hours a:hover {
  background-color: #00858f;
  color: white;
 }

.shop-hours a:visited {
  color: #dad6d6
}
.rough-rider {
  grid-column: 2/3;
  grid-row: 1/8;
  width: 87%;
  border: 6px groove #dad6d6;
  margin: 115px 30px 0px 0px;

}
/* proshop - gunsmith page ends here */





/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {

  .weekdays li,
  .days li {
    width: 12.5%;
  }

  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {

  .weekdays li,
  .days li {
    width: 12.2%;
  }
}